{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <center>
            <div class="col-5">
                <br>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Enter your username">
                    </div>
                    <div class="mb-3">
                        <input type="password" class="form-control" name="password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
        </center>
    </div>
</div>

{% endblock %}