{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main">    
    <!-- Post -->
    {% for post in post_category %}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{% url 'post' post.id %}">{{post.title}}</a></h2>
                <p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                <a href="#" class="author"><span class="name">Jane Doe</span><img src="" alt="" /></a>
            </div>
        </header>
        <a href="{% url 'post' post.id %}" class="image featured"><img src="{{post.cover.url}}" alt="{{post.cover.name}}" /></a>
        <p>{{post.content|safe}}</p>
        <footer>
            <ul class="actions">
                <li><a href="{% url 'post' post.id %}" class="button large">Continue Reading</a></li>
            </ul>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>
    {% endfor %}
    
    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>
</div>

<section id="sidebar">
    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="" alt="" /></a>
        <header>
            <h2>Post {{subCategory.name}}</h2>
            <p>En esta pagina de inicio encontraras post de {{subCategory.name}} destacados, etc.</p>
        </header>
    </section>

    <!-- Posts List -->
    <section>
        <ul class="posts">
            <li>
                <article>
                    <header>
                        <h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                        <time class="published" datetime="2015-10-20">October 20, 2015</time>
                    </header>
                    <a href="single.html" class="image"><img src="" alt="" /></a>
                </article>
            </li>
    </section>
</section>

{% endblock %}