{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main">    
    <!-- Post -->
    {% for post in post_category %}
        {% include 'post.html' %}
    {% endfor %}
    
    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>
</div>

<section id="sidebar">
    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="" alt="" /></a>
        <header>
            <h2>Post {{subCategory.name}}</h2>
            <p>En esta pagina de inicio encontraras post de {{subCategory.name}} destacados, etc.</p>
        </header>
    </section>

    <!-- Posts List -->
    <section>
        <div class="mini-posts">
            <h6>Post Destacados</h6>
            {% for post in featured_posts %}   
                <article class="mini-post">
                    <header>
                        <h3><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
                        <time class="published" datetime="2015-10-20">{{post.created_at}}</time>
                        <a href="{% url 'post' post.id %}" class="author">
                            <img src="{{post.author.profile.image.url}}">
                        </a>
                    </header>
                    <a href="{% url 'post' post.id %}" class="image">
                        <img src="{{post.cover.url}}" alt="{{post.cover.name}}" />
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
</section>

{% endblock %}