{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>Blog De Viajes</h2>
<div class="col-12 row d-flex justify-content-center">
    {% for post in all_post %}
    <div class="col gridblog">
        <div class="card cardblog">
            <div class="imgblog">
                <img src="{{post.cover.url}}" class="w-100" alt="{{post.cover.name}}" >
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">{{post.title}}</h6>
                <a href="{% url 'post' post.id %}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}