{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container py-5">
    <h3>My Post</h3>
    <a href="{% url 'create_post' %}" class="btn btn-secondary">Create Post</a>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for post in my_posts %}
        <div class="col">
            <div class="card">
                <img src="{{post.cover.url}}" class="card-img-top" alt="{{post.cover.name}}" >
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <a href="{% url 'post' post.id %}" class="btn btn-primary">View</a>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-success">Edit</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">delete</button>

                    {% include 'CRUD/delete_post.html' %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}