{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h3>My Post</h3>
    <a href="{% url 'create_post' %}" class="btn btn-secondary">Create Post</a>
    {% for post in my_posts %}
    <div class="col gridblog">
        <div class="card cardblog">
            <div class="imgblog">
                <img src="{{post.cover.url}}" class="w-100" alt="{{post.cover.name}}" >
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2">{{post.title}}</h6>
                <a href="{% url 'post' post.id %}" class="btn btn-primary">View</a>
                <a href="{% url 'edit_post' post.id %}" class="btn btn-success">Edit</a>
                <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePost{{ post.id }}">delete</button>
                
                {% include 'CRUD/delete_post.html' with post_id=post.id %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}