{% load static %}
<header class="p-3 mb-3 border-bottom bg-dark border-bottom border-body">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        Reyvi
      </a>
      
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" href="{% url 'home' %}">Home</a></li>
        {% if user.is_authenticated %}
        <li><a class="nav-link px-2 link-secondary" href="{% url 'my_post' %}">My Post</a></li>
        {% endif %}
      </ul>

      <form method="post" action="{% url 'search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        {% csrf_token %}
        <input type="text" class="form-control" placeholder="Search..." name="searched">
      </form>

    
        
      {% if user.is_authenticated %}
      <div class="dropdown text-end">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          
          {% if profile %}
          <img src="{{ profile }}" width="32" height="32" class="rounded-circle">
          {% else %}
          <img src="{% static 'default.jpg' %}" width="32" height="32" class="rounded-circle">
          {% endif %}
            
        </a>
        <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
    
      {% else %}
      <div class="text-end">
          <a class="btn btn-outline-light me-2" href="{% url 'login' %}">Login</a>
          <a class="btn btn-warning" href="{% url 'register' %}">Sign-up</a>
      </div>
      {% endif %}
    </div>
  </div>
</header>