{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
    <h1>{{post.title}}</h1> <br>
    <p>{{post.subtitle}}</p>
    <br>
    <img src="{{post.cover.url}}" alt="" width="200px">
    <br><br>
    {{post.created_at}} 
    <br>
    <p>Create by {{post.author.username}}</p> <br>
    <p>{{post.body}}</p> <br>
    <br>
    <br>

    <form action="{% url 'comment_post' post.id %}" method="post">
        {% csrf_token %}
        {{form}}
        <button type="button" class="btn btn-outline-secondary">Calcelar</button>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
    <br>
    <h6>Comments</h6>

    {% for comment in comments %}
    {{comment.text}} - {{comment.author.username}} - {{comment.created_at}} <br><br>
    {% endfor %}

    <a href="{% url 'home' %}">Volver</a>
</div>

{% endblock %}    