{% load static %}
<article class="post">
    <header>
        <div class="title">
            <h2><a href="{% url 'post' post.id %}">{{post.title}}</a></h2>
            <p>{{post.subtitle}}</p>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-11-01">{{post.created_at|date:"F j, Y"}}</time>
            <a href="{% url 'profile_user' post.id %}" class="author">
                <span class="name">{{post.author.first_name}} {{post.author.last_name}}</span>
                <img src="{{post.author.profile.image.url}}" height="42" width="42">
            </a>
        </div>
    </header>
    <a href="{% url 'post' post.id %}" class="image featured"><img src="{{post.cover.url}}" alt="{{post.cover.name}}" /></a>
    <p>{{post.content|truncatewords_html:10|safe}}</p>
    <footer>
        <ul class="actions">
            <li><a href="{% url 'post' post.id %}" class="button large">Continue Reading</a></li>
        </ul>
        <ul class="stats">
            <li><a href="#" class="icon solid fa-heart">28</a></li>
            <li><a href="#" class="icon solid fa-comment">128</a></li>
        </ul>
    </footer>
</article>