{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Profile</h1>
    
    
    {% if image.image %}
    <img src="{{image.image.url}}" alt="" width="100">
    {% else %}
    <img src="{% static 'assest/default.jpg' %}" alt="" width="100">
    {% endif %}

    <br><br>
    <label for="">Username</label> <input type="text" placeholder="{{user.username}}" disabled> <br>
    <label for="">Name</label> <input type="text" placeholder="{{user.first_name}}" disabled> <br>
    <label for="">Last name</label> <input type="text" placeholder="{{user.last_name}}" disabled> <br>
    <label for="">Email</label> <input type="text" placeholder="{{user.email}}" disabled>
    <br><br>
    <a href="{% url 'update_info_profile' %}" class="btn btn-success">Update Profile</a> 
</div>

{% endblock %}