{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main">
    <div class="d-flex justify-content-center my-4">
        {% for subcategory in subCategories %}
        <div class="px-2">
            <a href="{% url 'category' subcategory.name %}" class="btn seccion-btn btn-outline-dark">{{subcategory.name}}</a>
        </div>
        {% endfor %}
    </div>
    
    <!-- Post -->
    {% for subcategory in subCategories %}
        {% for post in subcategory.posts.all %}
            {% include 'post.html' %}
        {% endfor %}
    {% endfor %}
    
    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>
</div>

<section id="sidebar">
    <!-- Intro -->
    <section id="intro">
        <a href="#" class="logo"><img src="" alt="" /></a>
        <header>
            <h2>Seccion {{category.name}}</h2>
            <p>En esta pagina de inicio encontraras post de {{category.name}} destacados, etc.</p>
        </header>
    </section>

    <!-- Posts List -->
    <section>
        <div class="mini-posts">
            <h6>Post Destacados</h6>
            {% for post in featured_posts %}   
                <article class="mini-post">
                    <header>
                        <h3><a href="{% url 'post' post.id %}">{{post.title}}</a></h3>
                        <time class="published" datetime="2015-10-20">{{post.created_at|date:"F j, Y"}}</time>
                        <a href="{% url 'post' post.id %}" class="author">
                            <img src="{{post.author.profile.image.url}}" height="42" width="42">
                        </a>
                    </header>
                    <a href="{% url 'post' post.id %}" class="image card-img">
                        <img src="{{post.cover.url}}" alt="{{post.cover.name}}" />
                    </a>
                </article>
            {% endfor %}
        </div>
    </section>
</section>
{% endblock %}