{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<div class="container">
    <h1>{{post.title}}</h1>
    <br>
    <p>Create by {{post.author.first_name}} {{post.author.last_name}}. {{post.created_at}}</p> <br>
    <br>
    <img src="{{post.cover.url}}" alt="" width="600" height="450">
    <br>
    <p>{{post.subtitle}}</p>
    <br>
    <br>
    
    {{post.content|safe}} <br>
    <br>
    <br>

    <h6>Leave a comment</h6>
    <form action="{% url 'add_comment' post.id %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    <br>
    
    <h6>Comments</h6>
    <ul>
        {% for comment in comments %}
            {% include 'CRUD/comment.html' %}
        {% endfor %}
    </ul>
</div>

{% endblock %}    