{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="main">
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2>{{post.title}}</h2>
                <p>{{post.subtitle}}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">{{post.created_at|date:"F j, Y"}}</time>
                <a href="{% url 'profile_user' post.id %}" class="author"><span class="name">{{post.author.first_name}} {{post.author.last_name}}</span>
                    <img src="{{post.author.profile.image.url}}">
                </a>
            </div>
        </header>
        <span class="image featured"><img src="{{post.cover.url}}" alt="{{post.cover.name}}" /></span>
        <p>{{post.content|safe}}</p>
        <footer>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon solid fa-heart">28</a></li>
                <li><a href="#" class="icon solid fa-comment">128</a></li>
            </ul>
        </footer>
    </article>
    <h6>Leave a comment</h6>
    <form action="{% url 'add_comment' post.id %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>

    <br>
    
    <h6>Comments</h6>
    <div class="d-block mb-3">
        {% for comment in comments %}

        <div>
            <div class="d-flex position-relative flex-row">
                <div>
                    <a href="" class="d-inline-block border-0">
                        <img src="{{comment.author.profile.image.url}}" height="42" class="rounded-circle me-3">
                    </a>
                </div>
                <div class="d-flex flex-auto flex-column">
                    <div class="d-flex align-items-baseline flex-row">
                        <p class="h6">
                            <a href="{% url 'profile_user' post.id %}" class="d-block me-1 border-0">
                                <span>{{comment.author.username}}</span>
                            </a>
                        </p>
                    </div>
                    <div>
                        <div class="lh-sm">
                            <span class="fs-6">{{comment.text}}</span>
                        </div>
                    </div>
                    <div class="mt-1">
                        <div class="d-flex align-items-center flex-row me-2">
                            <div class="ms-2 ">
                                <div class="d-flex boton--size-s">
                                    <a class="btn boton rounded-pill" type="button">
                                        <span>Responder</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <div>
            <div class="d-block ms-5">
                <div class="d-block">
                    <div class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <div class="d-flex align-items-center ms-2 mb-3">
                            <a class="btn boton rounded-pill" type="button">
                                <span class="navbar-toggler-icon">Respuestas</span>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="d-flex flex-column">
                            {% for reply in comment.replies.all %}
                                {% include 'CRUD/comment.html' with comment=reply %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
</div>

{% endblock %}    