{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% include 'nav_update.html' %}
    <!-- Actulizar foto de perfil -->
    <form method="post" enctype="multipart/form-data">
        {% include 'crud/update_img.html' %}
    </form>
    <!-- Eliminar foto de perfil -->
    <form method="post">
        {% include 'crud/delete_profile_image.html' %}
    </form>
    <br><br>

    <div class="clearfix mx-4 d-flex items-column-reverse flex-row">
        <div class="col-12 col-md-8 me-4">
            <!-- Actualizar informacion del usuario -->
            <form method="post">
                {% csrf_token %}
                {{profile_form.as_p}}
                <button type="submit" class="btn btn-success">Update profile</button>
                <a href="{% url 'update_password' %}" class="btn btn-secondary">Update password</a>
            </form>
            <br>
        </div>
        <div class="col-12 col-md-4 ms-4">
            <dl>
                <dt><label class="d-block mb-2">Profile picture</label></dt>
                <dd class="avatar-upload-container clearfix position-relative">                   
                    <div class="dropdown">
                        <span class="bg" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            {% if profile %}
                            <img class="rounded-circle" src="{{ profile }}" width="200" height="200" alt="">
                            {% else %}
                            <img class="rounded-circle" src="{% static 'images/default.jpg' %}" width="200" height="200" alt="">
                            {% endif %}
                            <div class="position-absolute bg-light rounded px-2 py-1 start-0 bottom-0 ms-2 mb-2 border">
                                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" class="bi bi-pencil">
                                    <path d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"></path>
                                </svg>
                                Edit
                            </div>
                        </span>
                        <ul class="dropdown-menu">
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Upload a photo</button>
                            </li>
                            <li>
                                <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#deletePhoto">Remove photo</button>
                            </li>
                        </ul>
                    </div>
                </dd>
            </dl>
        </div>        
    </div>
</div>
{% endblock %}