{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    {% include 'nav_update.html' %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="{% url 'update_password' %}">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Upadate password</button>
                <a href="{% url 'update_profile' %}" class="btn btn-secondary">Update profile</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}