<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Confirm Delete</h5>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{image_form.as_p}}
            </div>
            <div class="modal-footer">          
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-success">Update Image</button>
            </div>
        </div>
    </div>
</div>