{% load static %}
<footer class="footer mt-auto py-4 d-flex flex-wrap justify-content-center align-items-center border-top">
    <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 iconos">
            <img src="{% static 'images/logo.jpg' %}" alt="" height="24" width="24">
        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">
            © 2024 Company, Inc
        </span>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
            <a class="iconos" href="https://github.com/esteriv" target="_blank">
                <i class="fa-brands fa-github fa-lg"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="iconos" href="https://www.linkedin.com/in/estebvillaseca/" target="_blank">
                <i class="fa-brands fa-linkedin fa-lg"></i>
            </a>
        </li>
        <li class="ms-3">
            <a class="iconos" href="https://portafolio-noit.onrender.com/" target="_blank">
                <i class="fa-solid fa-globe fa-lg"></i>
            </a>
        </li>
    </ul>
</footer>