{% load static %}
<header id="header">
  <!-- Logo -->
  <div class="ps-4">
      <a href="{% url 'home' %}" class="border-0"><img class="rounded-circle" src="{% static 'images/logo.jpg' %}" alt="" width="44" height="44"></a>
  </div>
  <nav class="links">
    <ul>
      {% for category in categories %}
      <li>
        <a href="{% url 'seccion' category.name %}">{{ category.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form id="search" method="post" action="{% url 'search' %}">
          {% csrf_token %}
          <input type="text" name="searched" placeholder="Search" />
        </form>
      </li>      
    </ul>
  </nav>
  {% if request.user.is_authenticated %}
  <div class="dropdown px-3 border-start">
    <span class="dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      {% if profile %}
          <img src="{{ profile }}" width="42" height="42" class="rounded-circle">
      {% else %}
          <img src="{% static 'images/default.jpg' %}" width="42" height="42" class="rounded-circle">
      {% endif %}
    </span>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-end text-center me-2">
      <li class="d-flex"><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
      <li class="d-flex"><a class="dropdown-item" href="{% url 'my_post' %}">My Posts</a></li>
      <li class="d-inline"><hr class="dropdown-divider"></li>
      <li class="d-flex"><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
    </ul>
    
  </div>
  {% else %}
  <div class="px-3 border-start">
    <a class="btn btn-light text-dark me-2" href="{% url 'login' %}">Login</a>
    <a class="btn btn-primary text-white" href="{% url 'register' %}">Sign-up</a>
  </div>
  {% endif %}
</header>