{% load static %}

<div class="d-flex position-relative flex-row">
    <div>
        <a href="" class="d-inline-block border-0">
            <img src="{{comment.author.profile.image.url}}" height="32" class="rounded-circle me-3">
        </a>
    </div>
    <div class="d-flex flex-auto flex-column">
        <div class="d-flex align-items-baseline flex-row">
            <p class="h6">
                <a href="{% url 'profile_user' post.id %}" class="d-block me-1 border-0">
                    <span class="">{{comment.author.username}}</span>
                </a>
            </p>
        </div>
        <div>
            <div class="lh-sm">
                <span class="fs-6">{{comment.text}}</span>
            </div>
        </div>
        
        <div class="d-flex align-items-center flex-row me-2">
            <div class="d-flex ms-2">
                <a class="btn rounded-pill boton--size-s" type="button">
                    <div class="overflow-hidden boton boton--size-s">
                        <span type="text">Responder</span>
                    </div>
                </a>
            </div>
        </div>
        
    </div>
</div>