{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Update Post</button>
    </form>
</div>

<script>
    $(document).ready(function() {
        $('#id_category').change(function() {
            var url = "{% url 'load_subcategories' %}";  // Update with the URL to your view
            var categoryId = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'category_id': categoryId
                },
                success: function(data) {
                    $("#id_subcategory").html('<option value="">---------</option>');
                    $.each(data, function(key, value) {
                        $("#id_subcategory").append('<option value="' + value.id + '">' + value.name + '</option>');
                    });
                }
            });
        });
    });
</script>

{% endblock %}