{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<div class="container">
    {% if profile.image %}
        <img src="{{ profile.image.url }}" alt="" width="100">
    {% else %}
        <img src="{% static 'assest/default.jpg' %}" alt="" width="100">
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        {% include 'CRUD/update_img_profile.html' %}
    </form>

    <button data-bs-toggle="modal" data-bs-target="#exampleModalToggle">Actualizar foto</button>

    <br><br>

    <form action="" method="post">
        {% csrf_token %}
        {{profile_form.as_p}}
        <button type="submit" class="btn btn-success">Update Post</button>
    </form>
</div>

{% endblock %}